/*浮动*/
.fl{float:left;}
.fr{float:right;}
.clearfix:before,
.clearfix:after{content:'';display:table;}
.clearfix:after{
  clear: both;
}
/*视觉隐藏*/
.visuallyhidden {
  clip: rect(0, 0, 0, 0);
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*文字截断*/

.ellipsis{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow:    ellipsis;
}
.ellipsis2,.ellipsis3{
  overflow : hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ellipsis2{
  -webkit-line-clamp: 2;
}
.ellipsis3{
  -webkit-line-clamp: 3;
}
/*两端对齐*/
.justify{
  text-align: justify;
  text-align-last: justify;
  display: inline-block;
  vertical-align: middle;
}
.justify:after{
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;

}
/*图片垂直居中*/
.vertical-middle{
  font-size: 0;
}
.vertical-middle:after{
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.vertical-middle img{
  vertical-align: middle;
}
/*水平垂直居中*/
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform:translate(-50%,-50%);
}
/*垂直居中*/
.center-vertical{
  position: absolute;
  top: 50%;
  -webkit-transform:translate(0,-50%);
}